$dark-green-01: #0a150f;
$dark-green-02: #1f332b;
$dark-green-03: #305344;
$light-green-01: #97f675;
$grey: #ebebeb;
$grey-02: #eaeaea;

body {
  font-family: "Poppins", sans-serif;
}

.side-bar {
  height: 100vh;
  min-width: 13rem;
  background-color: $dark-green-01;
  position: fixed;
  color: #fff;
  padding: 3rem 1.5rem;
  box-sizing: border-box;

  .wrapper {
    position: relative;
    height: 100%;

    .logo {
      display: flex;
      align-items: center;
      font-size: 2.6rem;
      opacity: 0.7;
      margin-left: 0.4rem;

      span {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        text-transform: capitalize;
        margin-left: 0.5rem;
      }
    }

    nav {
      &.main-menu {
        margin-top: 2rem;
      }

      &.footer-menu {
      }
      li {
        margin-bottom: 0.4rem;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
          font-size: 1.1em;
          font-weight: 600;
          padding: 0.6rem 1rem;
          transition: 250ms all ease-in-out;

          span {
            font-size: 0.7rem;
            text-transform: capitalize;
            opacity: 0.8;
            margin-left: 1rem;
          }
        }

        &:hover,
        &.active {
          a {
            background-color: $light-green-01;
            color: $dark-green-01;
          }
        }
      }
    }

    .bottom-sheets {
      width: 100%;
      position: absolute;
      bottom: 0;

      .profile-action {
        display: inline-flex;
        align-items: center;
        padding-top: 1.5rem;
        margin-top: 2rem;
        border-top: 1px solid rgba(255,255,255,0.3);

        .avatar {
          height: 30px;
          width: 30px;
          overflow: hidden;
          border-radius: 50%;
          background-color: blue;

          img {
            width: 100%;
          
          }
        }
        .grp {
          margin-left: 0.5rem;

          .user {
            text-transform: capitalize;
            font-size: 0.8rem;
            margin-bottom: 0.25rem;
          }

          a {
            text-decoration: none;
            font-size: 0.52rem;
            color: #fff;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.content {
  background-color: white;
  height: 100%;
  margin-left: 13rem;
  display: flex;
  // width: 500px;

  .cards {
    min-height: 26rem;
    width:500px;
    height: 100vh;
    background-color: #f1f3f0;
    border-right: 1px solid $grey;
  }

  .card-head {
    background-color: #f8faf7;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey;

    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #073f07;

    }

    .btn {
      font-size: 1.2rem;
      border: none;
      background-color: transparent;
    
      margin-left: 0.8rem;
      cursor: pointer;
      color: green;

      transition: 1s;


    }
    
  }
  .card-list {
    li {
      background-color: #faf8f7;
      position: relative;
      padding: 1.2rem 1.6rem;
      border-bottom: 1px solid $grey;
      overflow: hidden;
      cursor: pointer;
    }
    .card-details {
      .title {
        text-transform: capitalize;
        font-size: 0.9rem;
        font-weight: 600;
      }

      .status {
        display: block;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        margin: 0.6rem 0;
        position: relative;
        padding-left: 0.8rem;

        &::before {
          content: "";
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background-color: $dark-green-01;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      .access {
        font-size: 0.8rem;
        display: flex;
        align-items: center;

        .txt {
          opacity: 0.8;
          font-weight: 500;
        }

        .count {
          margin-left: 0.6rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: $grey-02;
          height: 18px;
          width: 22px;
          font-size: 0.7rem;
          font-weight: 600;
          border-radius: 3px;
        }
      }
    }
    .card-design {
      position: absolute;
      width: 140px;
      height: 92px;
      background-color: #fff;
      border-top-left-radius: 12px;
      border: 1px solid $grey;
      right: -20px;
      bottom: -1px;
      transform: translateX(45px);
      transition: 150ms transform ease-in-out;

      .stripe {
        height: 1.35rem;
        width: 100%;
        background: linear-gradient(40deg, #f1f1f1, #fff);
        position: relative;
        top: 1rem;
      }

      .last-four-digits {
        position: absolute;
        top: 3.5rem;
        left: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: $dark-green-01;
      }
    }

    li {
      &.active, &:hover{
        background: $dark-green-02;
        border-bottom: 1ps solid $dark-green-02;
        color: #fff;

        .card-details {
          .status {
            &::before {
              background-color: #fff;
            }
          }

          .count {
            background-color: $dark-green-03;
          }
        }

        .card-design {
          background-color: $dark-green-03;
          border: none;
          transform: translatex(10px);

          .stripe {
            background: linear-gradient(
              45deg,
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.2)
            );
          }

          .last-four-digits {
            color: #fff;
          }
        }
      }

      &.disabled {
        opacity: 0.6;
        pointer-events: none;
        margin-top: 0.8rem;
        border-top: 1px solid #00000029;

        .card-details {
          .status {
            opacity: 0.3;
          }
          .access {
            display: none;
          }
        }
      }
    }
  }

  .card-data{
    width: 100%;

    .wrapper{
      width: 90%;
      height: 100%;
      margin: auto;
      padding-top: 1rem;
    }

    .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3.1rem;

      .header-title{
        display: flex;
        align-items: center ;

        .logo{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $light-green-01;
          width: 45px;
          height: 40px;

          &::after{
            content:'';
            position: absolute;
            display: block;
            width: 25px;
            height: 18px;
            background-color: $dark-green-01;
            background-color: 2px;
          }
        }

        h1{
            margin-left: 1.3rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: capitalize;
            color: darkgreen;

        }
      }

      .manage{
        background: none;
        font-size: .7rem;
        font-weight: 600;
        padding: 0.4rem 1.4rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid $dark-green-02;
        text-transform: capitalize;
        transition: 150ms all ease-in-out;

        i{
          margin-left: 1rem;
          font-size: 1.4rem;
          position: relative;
          top: 1px;
        }

        &:hover{
          background-color: $dark-green-02;
          color: #fff;
        }
      }
    }

    .details{
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $grey;

      display:grid;
      grid-template-columns: repeat(7,auto);

      .title{
        display: block;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        opacity: 0.3;
        margin-bottom: 1rem;
      }

      .value{
        display: flex;
        align-items: top;
        color: $dark-green-02;

        .-value{
          font-size: .9rem;
          font-weight: 500;
          text-transform: capitalize;
        }
      }

      .card-number{

        .fa-clone{
          
          font-size:0.9rem;
          margin-left: 0.8rem;
        }
      }

      .cvc{

        .value{
          display: flex;
          align-items: center;

          
          .fa-star{
            font-size: 0.7rem;
            margin-left: -4px;
          }

          .fa-eye{
            margin-top: .2rem;
            margin-left: 8px;
            font-size: 0.9rem;

          }
          
        
        }
       
      }

      .divider{
        width: 1px;
        background-color:$grey;
      }
    }

    .spendings{
      display:flex;
      justify-content: space-between;
      gap: 4rem;
      border-bottom: 1px solid $grey;
      padding-bottom: 1.5rem;
      margin-top: 2rem;

      .spending-limits{
        width: 50%;

        .title{
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 1.5rem;

          &::first-letter{
            text-transform: uppercase;
          }
        }
      }

      .spending-limit-stats{

        .-title{
        display: block;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        opacity: 0.3;
        margin-bottom: 1rem;
        }

       
      }

      .progress-bar{
        width: 100%;
        height: 10px;
        background-color:$grey;
        overflow: hidden;
        margin: 1rem 0;

        .progress-fill{
          display: block;
          height: inherit;
          width: 10%;
          background-color: $dark-green-03;
        }
      }

      .stat-data{
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        font-weight: 600;
        color: $dark-green-03;
      }

      .estimated{
        position: relative;
        background-color: #ebebeb;
        color: $dark-green-03;


        width: 40%;
        padding: 1.2rem;
        box-sizing: border-box;
        overflow: hidden;

        .desc{
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.4rem;
        }

        .grp{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: .5rem;

          .amount{
            font-size: 1rem;
            font-weight: 600;
          }

          a{
            position: relative;
            font-size: 1rem;
            color: $dark-green-03;

            &::before{
              content: '';
              position: absolute;
              height: 110px;
              width: 110px;
              border-radius: 50%;
              // background-color: #ccc;
              background-color: $dark-green-03;
              top: -30px;
              left: -35px;

            }

            i{
              position: relative;
            }
          }
        }
      }
    }

    .issued-access{
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 2rem;
      margin-top: 1.5rem;

      .header{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.5rem;

        .title{
          font-size: 1rem;
          font-weight: 700;
          &::first-letter{
            text-transform: capitalize;
          }
        }

        .count{
          margin-left: 0.6rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: $grey-02;
          height: 18px;
          width: 22px;
          font-size: 0.7rem;
          font-weight: 600;
          border-radius: 3px; 
        }
      }

      table{
        width: 100%;

        tr{
          border-bottom: 20px solid transparent;
        }

        td{
          vertical-align: middle;
        }     

       
      }

      .user{
        display: flex;
        align-items: center;

        .avatar{
          height: 25px;
          width: 25px;
          overflow: hidden;
          border-radius: 50%;
          background-color: blue;

          img {
            max-width: 100%;
          }

        }

        .username{
          text-transform: capitalize;
          font-size: .8rem;
          font-weight: 600;
          margin-left: .5rem;
        }
      }

      .item{
        text-transform:capitalize ;
        opacity: 0.35;
        font-size: .8rem;
        font-weight: 600;
      }

      .group{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .price{
          font-weight: 600;
          font-size: .8rem;
          color: $dark-green-02;

          
        }

        a{
          font-size: .8rem;
          margin-left: 2rem;
          color: $dark-green-02;

        }
      }
    }

    .recent-transactions{
      border-bottom: 1px solid #ebebeb;
     margin-bottom: 2rem;
  
     .header{
       display: flex;
       justify-content: flex-start;
       margin-bottom: 1.5rem;
  
       .title{
         font-size: 1rem;
         font-weight: 700;
          &::first-letter{
            text-transform: capitalize;
          }
        }
     }


     table{
      width: 100%;

      tr{
        border-bottom: 20px solid transparent;
      }

      td{
        vertical-align: middle;
      }     

      .user{
        display: flex;
        align-items: center;

        .avatar{
          height: 25px;
          width: 25px;
          overflow: hidden;
          border-radius: 50%;
          background-color: blue;

          img {
            max-width: 100%;
          }

        }

        .username{
          text-transform: capitalize;
          font-size: .8rem;
          font-weight: 600;
          margin-left: 1rem;
        }
      }

      .item{
        
        font-size: .8rem;
        text-transform:capitalize ;
        opacity: 0.35;
        font-weight: 600;
        margin-left: 4.5rem;
        
      }

      .month{
        background-color: $grey-02;
        margin-left: 1rem;
        padding: .5rem;
        border-radius: .2rem;
        font-size: .6rem;
        font-weight: 600;
      }
     
      .group{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .price{
          font-weight: 600;
          color: $dark-green-02;

          
        }

        a{
          margin-left: 2rem;
          color: $dark-green-02;

        }
      }

    }
   }
  }
 

}
